.flex-start{
    display: flex;
    align-items: flex-start;
}

.flex-end{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.center{
    display: flex;
    /* flex-direction: column; */
    align-items: center;

}

.strech{
    display: flex;
    align-items: stretch;
}

.baseline{
    display: flex;
    align-items: baseline;
}

.baseline .baseline-2{
    font-size: 40px;
}



